# Exclude the oh-my-zsh config, since this is a git repository itself, containing no important configuration
.config/oh-my-zsh

# Exclude zsh related files that contain private information
**/.zsh_history
**/.zcompdump*